<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<h2>Books</h2>
<%= render @series.books %>

<h2>Add a book:</h2>
<%= render 'books/form' %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
