<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<h2>Books</h2>
<%= render @series.books %>

<h2>Add a book:</h2>
<%= content_tag :div,
  id: "series_data",
  data: @series.to_json do %>
<% end %>
<%= javascript_pack_tag 'book_form'  %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
